@inherits LayoutComponentBase
<RadzenDialog />
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info">
    <div class="container">
        <a class="navbar-brand" href="/">Blaz JobBoard</a>
    </div>
</nav>
<div class="container">
    @Body
</div>
